In [ ]:
#Importing libraries
import pandas as pd
from sqlalchemy import create_engine

#Load CSV
df = pd.read_csv("C:/Users/souna/Downloads/archive/zepto_v2.csv", encoding='latin1')

#Data Cleaning
#--Convert paise to rupees
df['mrp'] = df['mrp'] / 100
df['discountedSellingPrice'] = df['discountedSellingPrice'] / 100

#--Remove zero-value rows
df = df[(df['mrp'] > 0) & (df['discountedSellingPrice'] > 0)]


#Save to MySQL
engine = create_engine("mysql+mysqlconnector://root:iamsounak71@localhost/zepto_sql_project")
df.to_sql('zepto_clean', con=engine, if_exists='replace', index=False)

3731

In [11]:
df.to_csv("C:/Users/souna/Downloads/zepto_clean.csv", index=False)

In [ ]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/zepto_sql_project

In [8]:
import prettytable
prettytable.__dict__['DEFAULT'] = prettytable.MARKDOWN

C:\Users\souna\AppData\Local\Temp\ipykernel_14364\3940415966.py:2: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  prettytable.__dict__['DEFAULT'] = prettytable.MARKDOWN

In [20]:
%%sql

SELECT * 
FROM zepto_clean
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(1, 'Fruits & Vegetables', 'Onion', Decimal('25.00'), Decimal('16.00'), 3, Decimal('21.00'), 1000, 0, 1),
 (2, 'Fruits & Vegetables', 'Pomegranate Peeled', Decimal('58.00'), Decimal('15.00'), 2, Decimal('49.00'), 100, 0, 100),
 (3, 'Cooking Essentials', '24 Mantra Organic Red Poha', Decimal('75.00'), Decimal('8.00'), 1, Decimal('69.00'), 500, 0, 500),
 (4, 'Cooking Essentials', '24 Mantra Organic Sattu Atta', Decimal('95.00'), Decimal('0.00'), 6, Decimal('95.00'), 500, 0, 500),
 (5, 'Fruits & Vegetables', 'Tomato Hybrid', Decimal('42.00'), Decimal('16.00'), 3, Decimal('35.00'), 1000, 0, 1),
 (6, 'Fruits & Vegetables', 'Tender Coconut', Decimal('51.00'), Decimal('15.00'), 3, Decimal('43.00'), 58, 0, 1),
 (7, 'Fruits & Vegetables', 'Coriander Leaves', Decimal('20.00'), Decimal('15.00'), 3, Decimal('17.00'), 100, 0, 100),
 (8, 'Fruits & Vegetables', 'Ladies Finger ', Decimal('14.00'), Decimal('14.00'), 3, Decimal('12.00'), 250, 0, 250),
 (9, 'Fruits & Vegetables', 'Potato', Decimal('35.00'), Decimal('17.00'), 3, Decimal('29.00'), 1000, 0, 1),
 (10, 'Fruits & Vegetables', 'Lemon', Decimal('75.00'), Decimal('16.00'), 3, Decimal('63.00'), 200, 0, 200)]

## Database Exploration

### Sample Data

In [21]:
%%sql

SELECT * FROM zepto_clean LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(1, 'Fruits & Vegetables', 'Onion', Decimal('25.00'), Decimal('16.00'), 3, Decimal('21.00'), 1000, 0, 1),
 (2, 'Fruits & Vegetables', 'Pomegranate Peeled', Decimal('58.00'), Decimal('15.00'), 2, Decimal('49.00'), 100, 0, 100),
 (3, 'Cooking Essentials', '24 Mantra Organic Red Poha', Decimal('75.00'), Decimal('8.00'), 1, Decimal('69.00'), 500, 0, 500),
 (4, 'Cooking Essentials', '24 Mantra Organic Sattu Atta', Decimal('95.00'), Decimal('0.00'), 6, Decimal('95.00'), 500, 0, 500),
 (5, 'Fruits & Vegetables', 'Tomato Hybrid', Decimal('42.00'), Decimal('16.00'), 3, Decimal('35.00'), 1000, 0, 1),
 (6, 'Fruits & Vegetables', 'Tender Coconut', Decimal('51.00'), Decimal('15.00'), 3, Decimal('43.00'), 58, 0, 1),
 (7, 'Fruits & Vegetables', 'Coriander Leaves', Decimal('20.00'), Decimal('15.00'), 3, Decimal('17.00'), 100, 0, 100),
 (8, 'Fruits & Vegetables', 'Ladies Finger ', Decimal('14.00'), Decimal('14.00'), 3, Decimal('12.00'), 250, 0, 250),
 (9, 'Fruits & Vegetables', 'Potato', Decimal('35.00'), Decimal('17.00'), 3, Decimal('29.00'), 1000, 0, 1),
 (10, 'Fruits & Vegetables', 'Lemon', Decimal('75.00'), Decimal('16.00'), 3, Decimal('63.00'), 200, 0, 200)]

### Count Of Rows

In [22]:
%%sql

SELECT COUNT(*) FROM zepto_clean;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
1 rows affected.

[(3731,)]

### All Columns from Table zepto_clean

In [23]:
%%sql

SELECT 
    COLUMN_NAME, 
    DATA_TYPE, 
    IS_NULLABLE, 
    CHARACTER_MAXIMUM_LENGTH
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'zepto_clean';

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[('availableQuantity', 'int', 'YES', None),
 ('Category', 'varchar', 'YES', 120),
 ('discountedSellingPrice', 'decimal', 'YES', None),
 ('discountPercent', 'decimal', 'YES', None),
 ('mrp', 'decimal', 'YES', None),
 ('name', 'varchar', 'YES', 150),
 ('outOfStock', 'tinyint', 'YES', None),
 ('quantity', 'int', 'YES', None),
 ('sku_id', 'int', 'NO', None),
 ('weightInGms', 'int', 'YES', None)]

### Null Values

In [24]:
%%sql

SELECT * FROM zepto_clean
WHERE name IS NULL
	OR Category IS NULL
	OR mrp IS NULL
	OR discountPercent IS NULL
	OR discountedSellingPrice IS NULL
	OR weightInGms IS NULL
	OR availableQuantity IS NULL
	OR outOfStock IS NULL
	OR quantity IS NULL;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
0 rows affected.

[]

### Different Product Categories

In [25]:
%%sql 

SELECT DISTINCT Category 
FROM zepto_clean
ORDER BY Category;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
14 rows affected.

[('Beverages',),
 ('Biscuits',),
 ('Chocolates & Candies',),
 ('Cooking Essentials',),
 ('Dairy, Bread & Batter',),
 ('Fruits & Vegetables',),
 ('Health & Hygiene',),
 ('Home & Cleaning',),
 ('Ice Cream & Desserts',),
 ('Meats, Fish & Eggs',),
 ('Munchies',),
 ('Paan Corner',),
 ('Packaged Food',),
 ('Personal Care',)]

### Products in stock vs out of stock

In [26]:
%%sql 

SELECT outOfStock, COUNT(*)
FROM zepto_clean
GROUP BY outOfStock;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
2 rows affected.

[(0, 3278), (1, 453)]

### Product names present multiple times

In [28]:
%%sql

SELECT name, COUNT(*) AS "Number of times"
FROM zepto_clean
GROUP BY name
HAVING COUNT(*) > 1
ORDER BY COUNT(*) DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[('Saffola Veggie Twist Masala Oats', 10),
 ('Arden Eggs White', 10),
 ("Mother's Recipe Tamarind Paste", 10),
 ('Quaker Oats', 10),
 ('Sunfeast Yippee! Magic Masala Noodles', 10),
 ('Sunfeast Yippee! Pasta Treat - Sour Cream Onion', 10),
 ('Amul Delicious Fat Spread - Cholesterol Free', 10),
 ("Kellogg's Real Almond & Honey Corn Flakes", 9),
 ('Amul Fresh Cream', 8),
 ('iD Idli & Dosa Batter ', 7)]