In [1]:
pip install ipython-sql mysql-connector-python pandas

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/15/9c/127f974ca9d5ee25373cb5433da06bb1f36e05f2a6b7436da1fe9c6346b0/mysql_connector_python-9.4.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-9.4.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Requirement already satisfied: pandas in c:\users\souna\anaconda3\lib\site-packages (2.2.3)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/02/c7/5613524e606ea1688b3bdbf48aa64bafb6d0a4ac3750274c43b6158a390f/prettytable-3.16.0-py3-none-any.whl.metadata
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\souna\anaconda3\lib\site-packages (from ipython-sql) (8.30.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\souna\anaconda3\lib\site-packages (from ipython-sql) (2.0.41)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/a9/5c/bfd6bd0bf979426d405cc6e71eceb8701b148b16c21d2dc3c261efc61c7b/sqlparse-0.5.3-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\souna\anaconda3\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\souna\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\souna\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\souna\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\souna\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\souna\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\souna\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\souna\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack-data in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\souna\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\souna\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\souna\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in c:\users\souna\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\souna\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\souna\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading mysql_connector_python-9.4.0-cp311-cp311-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.2/16.4 MB 5.6 MB/s eta 0:00:03
   - -------------------------------------- 0.6/16.4 MB 7.0 MB/s eta 0:00:03
   -- ------------------------------------- 1.1/16.4 MB 8.8 MB/s eta 0:00:02
   ------ --------------------------------- 2.6/16.4 MB 15.0 MB/s eta 0:00:01
   --------- ------------------------------ 4.0/16.4 MB 18.2 MB/s eta 0:00:01
   ------------- -------------------------- 5.4/16.4 MB 20.5 MB/s eta 0:00:01
   ---------------- ----------------------- 6.7/16.4 MB 21.4 MB/s eta 0:00:01
   ------------------- -------------------- 7.9/16.4 MB 21.8 MB/s eta 0:00:01
   --------------------- ------------------ 8.9/16.4 MB 21.8 MB/s eta 0:00:01
   ----------------------- ---------------- 9.8/16.4 MB 21.6 MB/s eta 0:00:01
   -------------------------- ------------- 10.7/16.4 MB 24.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.4 MB 25.2 MB/s eta 0:00:01
   -------------------------------- ------- 13.2/16.4 MB 25.2 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.4 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.4 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 21.8 MB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB ? eta 0:00:00
Installing collected packages: sqlparse, prettytable, mysql-connector-python, ipython-sql
Successfully installed ipython-sql-0.5.0 mysql-connector-python-9.4.0 prettytable-3.16.0 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [3]:
%sql mysql+mysqlconnector://root:iamsounak71@localhost/zepto_sql_project

In [5]:
%%sql

SELECT * 
FROM zepto 
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

KeyError: 'DEFAULT'

In [6]:
import prettytable
prettytable.__dict__['DEFAULT'] = prettytable.MARKDOWN

C:\Users\souna\AppData\Local\Temp\ipykernel_12152\1296831449.py:2: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  prettytable.__dict__['DEFAULT'] = prettytable.MARKDOWN

In [7]:
%%sql
SELECT * 
FROM zepto
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(1, 'Fruits & Vegetables', 'Zama Organics Carrot', Decimal('2000.00'), Decimal('15.00'), 3, Decimal('1700.00'), 250, 'FALSE', 250),
 (2, 'Fruits & Vegetables', 'Onion', Decimal('2500.00'), Decimal('16.00'), 3, Decimal('2100.00'), 1000, 'FALSE', 1),
 (3, 'Cooking Essentials', "Hershey's Caramel Syrup", Decimal('23000.00'), Decimal('0.00'), 1, Decimal('23000.00'), 623, 'FALSE', 623),
 (4, 'Cooking Essentials', 'Popular Essentials Kashmiri Red Rajma', Decimal('9500.00'), Decimal('6.00'), 4, Decimal('8900.00'), 500, 'FALSE', 500),
 (5, 'Cooking Essentials', 'Dabur Hommade - Garlic Paste', Decimal('5000.00'), Decimal('6.00'), 6, Decimal('4700.00'), 200, 'FALSE', 200),
 (6, 'Cooking Essentials', 'Dabur 100% Pure Honey', Decimal('33000.00'), Decimal('10.00'), 1, Decimal('29700.00'), 400, 'FALSE', 400),
 (7, 'Cooking Essentials', "Ching's Schezwan Fried Rice(Miracle Masala)", Decimal('4400.00'), Decimal('0.00'), 5, Decimal('4400.00'), 60, 'FALSE', 60),
 (8, 'Cooking Essentials', 'Everest Tandoori Chicken Masala', Decimal('7400.00'), Decimal('9.00'), 3, Decimal('6700.00'), 100, 'FALSE', 100),
 (9, 'Cooking Essentials', 'Popular Essentials Red Poha', Decimal('4500.00'), Decimal('4.00'), 6, Decimal('4300.00'), 500, 'FALSE', 500),
 (10, 'Cooking Essentials', 'Everest Kitchen King Masala', Decimal('14200.00'), Decimal('9.00'), 6, Decimal('12800.00'), 200, 'FALSE', 200)]

In [8]:
%%sql
SELECT COUNT(*) FROM zepto

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
1 rows affected.

[(3728,)]