In [ ]:
#Importing libraries
import pandas as pd
from sqlalchemy import create_engine

#Load CSV
df = pd.read_csv("C:/Users/souna/Downloads/archive/zepto_v2.csv", encoding='latin1')

#Data Cleaning
#--Convert paise to rupees
df['mrp'] = df['mrp'] / 100
df['discountedSellingPrice'] = df['discountedSellingPrice'] / 100

#--Remove zero-value rows
df = df[(df['mrp'] > 0) & (df['discountedSellingPrice'] > 0)]


#Save to MySQL
engine = create_engine("mysql+mysqlconnector://root:iamsounak71@localhost/zepto_sql_project")
df.to_sql('zepto_clean', con=engine, if_exists='replace', index=False)

3731

In [11]:
df.to_csv("C:/Users/souna/Downloads/zepto_clean.csv", index=False)

In [ ]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/zepto_sql_project

In [8]:
import prettytable
prettytable.__dict__['DEFAULT'] = prettytable.MARKDOWN

C:\Users\souna\AppData\Local\Temp\ipykernel_14364\3940415966.py:2: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  prettytable.__dict__['DEFAULT'] = prettytable.MARKDOWN

In [20]:
%%sql

SELECT * 
FROM zepto_clean
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(1, 'Fruits & Vegetables', 'Onion', Decimal('25.00'), Decimal('16.00'), 3, Decimal('21.00'), 1000, 0, 1),
 (2, 'Fruits & Vegetables', 'Pomegranate Peeled', Decimal('58.00'), Decimal('15.00'), 2, Decimal('49.00'), 100, 0, 100),
 (3, 'Cooking Essentials', '24 Mantra Organic Red Poha', Decimal('75.00'), Decimal('8.00'), 1, Decimal('69.00'), 500, 0, 500),
 (4, 'Cooking Essentials', '24 Mantra Organic Sattu Atta', Decimal('95.00'), Decimal('0.00'), 6, Decimal('95.00'), 500, 0, 500),
 (5, 'Fruits & Vegetables', 'Tomato Hybrid', Decimal('42.00'), Decimal('16.00'), 3, Decimal('35.00'), 1000, 0, 1),
 (6, 'Fruits & Vegetables', 'Tender Coconut', Decimal('51.00'), Decimal('15.00'), 3, Decimal('43.00'), 58, 0, 1),
 (7, 'Fruits & Vegetables', 'Coriander Leaves', Decimal('20.00'), Decimal('15.00'), 3, Decimal('17.00'), 100, 0, 100),
 (8, 'Fruits & Vegetables', 'Ladies Finger ', Decimal('14.00'), Decimal('14.00'), 3, Decimal('12.00'), 250, 0, 250),
 (9, 'Fruits & Vegetables', 'Potato', Decimal('35.00'), Decimal('17.00'), 3, Decimal('29.00'), 1000, 0, 1),
 (10, 'Fruits & Vegetables', 'Lemon', Decimal('75.00'), Decimal('16.00'), 3, Decimal('63.00'), 200, 0, 200)]

## Database Exploration

### Sample Data

In [21]:
%%sql

SELECT * FROM zepto_clean LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(1, 'Fruits & Vegetables', 'Onion', Decimal('25.00'), Decimal('16.00'), 3, Decimal('21.00'), 1000, 0, 1),
 (2, 'Fruits & Vegetables', 'Pomegranate Peeled', Decimal('58.00'), Decimal('15.00'), 2, Decimal('49.00'), 100, 0, 100),
 (3, 'Cooking Essentials', '24 Mantra Organic Red Poha', Decimal('75.00'), Decimal('8.00'), 1, Decimal('69.00'), 500, 0, 500),
 (4, 'Cooking Essentials', '24 Mantra Organic Sattu Atta', Decimal('95.00'), Decimal('0.00'), 6, Decimal('95.00'), 500, 0, 500),
 (5, 'Fruits & Vegetables', 'Tomato Hybrid', Decimal('42.00'), Decimal('16.00'), 3, Decimal('35.00'), 1000, 0, 1),
 (6, 'Fruits & Vegetables', 'Tender Coconut', Decimal('51.00'), Decimal('15.00'), 3, Decimal('43.00'), 58, 0, 1),
 (7, 'Fruits & Vegetables', 'Coriander Leaves', Decimal('20.00'), Decimal('15.00'), 3, Decimal('17.00'), 100, 0, 100),
 (8, 'Fruits & Vegetables', 'Ladies Finger ', Decimal('14.00'), Decimal('14.00'), 3, Decimal('12.00'), 250, 0, 250),
 (9, 'Fruits & Vegetables', 'Potato', Decimal('35.00'), Decimal('17.00'), 3, Decimal('29.00'), 1000, 0, 1),
 (10, 'Fruits & Vegetables', 'Lemon', Decimal('75.00'), Decimal('16.00'), 3, Decimal('63.00'), 200, 0, 200)]

### Count Of Rows

In [22]:
%%sql

SELECT COUNT(*) FROM zepto_clean;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
1 rows affected.

[(3731,)]

### All Columns from Table zepto_clean

In [23]:
%%sql

SELECT 
    COLUMN_NAME, 
    DATA_TYPE, 
    IS_NULLABLE, 
    CHARACTER_MAXIMUM_LENGTH
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'zepto_clean';

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[('availableQuantity', 'int', 'YES', None),
 ('Category', 'varchar', 'YES', 120),
 ('discountedSellingPrice', 'decimal', 'YES', None),
 ('discountPercent', 'decimal', 'YES', None),
 ('mrp', 'decimal', 'YES', None),
 ('name', 'varchar', 'YES', 150),
 ('outOfStock', 'tinyint', 'YES', None),
 ('quantity', 'int', 'YES', None),
 ('sku_id', 'int', 'NO', None),
 ('weightInGms', 'int', 'YES', None)]

### Null Values

In [24]:
%%sql

SELECT * FROM zepto_clean
WHERE name IS NULL
	OR Category IS NULL
	OR mrp IS NULL
	OR discountPercent IS NULL
	OR discountedSellingPrice IS NULL
	OR weightInGms IS NULL
	OR availableQuantity IS NULL
	OR outOfStock IS NULL
	OR quantity IS NULL;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
0 rows affected.

[]

### Different Product Categories

In [25]:
%%sql 

SELECT DISTINCT Category 
FROM zepto_clean
ORDER BY Category;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
14 rows affected.

[('Beverages',),
 ('Biscuits',),
 ('Chocolates & Candies',),
 ('Cooking Essentials',),
 ('Dairy, Bread & Batter',),
 ('Fruits & Vegetables',),
 ('Health & Hygiene',),
 ('Home & Cleaning',),
 ('Ice Cream & Desserts',),
 ('Meats, Fish & Eggs',),
 ('Munchies',),
 ('Paan Corner',),
 ('Packaged Food',),
 ('Personal Care',)]

###  Products per category

In [30]:
%%sql

SELECT Category, COUNT(*) AS total_products
FROM zepto_clean
GROUP BY Category
ORDER BY total_products DESC;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
14 rows affected.

[('Cooking Essentials', 514),
 ('Munchies', 514),
 ('Packaged Food', 388),
 ('Ice Cream & Desserts', 388),
 ('Chocolates & Candies', 388),
 ('Personal Care', 344),
 ('Paan Corner', 344),
 ('Home & Cleaning', 193),
 ('Biscuits', 147),
 ('Dairy, Bread & Batter', 129),
 ('Beverages', 129),
 ('Health & Hygiene', 97),
 ('Fruits & Vegetables', 93),
 ('Meats, Fish & Eggs', 63)]

### Products in stock vs out of stock

In [26]:
%%sql 

SELECT outOfStock, COUNT(*)
FROM zepto_clean
GROUP BY outOfStock;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
2 rows affected.

[(0, 3278), (1, 453)]

### Product names present multiple times

In [28]:
%%sql

SELECT name, COUNT(*) AS "Number of times"
FROM zepto_clean
GROUP BY name
HAVING COUNT(*) > 1
ORDER BY COUNT(*) DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[('Saffola Veggie Twist Masala Oats', 10),
 ('Arden Eggs White', 10),
 ("Mother's Recipe Tamarind Paste", 10),
 ('Quaker Oats', 10),
 ('Sunfeast Yippee! Magic Masala Noodles', 10),
 ('Sunfeast Yippee! Pasta Treat - Sour Cream Onion', 10),
 ('Amul Delicious Fat Spread - Cholesterol Free', 10),
 ("Kellogg's Real Almond & Honey Corn Flakes", 9),
 ('Amul Fresh Cream', 8),
 ('iD Idli & Dosa Batter ', 7)]

### Summary statistics for numeric columns

In [29]:
%%sql

SELECT 
    MIN(mrp) AS min_mrp,
    MAX(mrp) AS max_mrp,
    AVG(mrp) AS avg_mrp,
    MIN(discountPercent) AS min_discount,
    MAX(discountPercent) AS max_discount,
    AVG(discountPercent) AS avg_discount,
    MIN(weightInGms) AS min_weight,
    MAX(weightInGms) AS max_weight,
    AVG(weightInGms) AS avg_weight
FROM zepto_clean;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
1 rows affected.

[(Decimal('10.00'), Decimal('2600.00'), Decimal('156.843206'), Decimal('0.00'), Decimal('51.00'), Decimal('7.619137'), 0, 10000, Decimal('387.9276'))]

### Discount distribution

In [33]:
%%sql

SELECT discountPercent, COUNT(*) AS count_products
FROM zepto_clean
GROUP BY discountPercent
ORDER BY discountPercent DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(Decimal('51.00'), 3),
 (Decimal('50.00'), 55),
 (Decimal('49.00'), 3),
 (Decimal('46.00'), 2),
 (Decimal('45.00'), 2),
 (Decimal('43.00'), 4),
 (Decimal('40.00'), 10),
 (Decimal('35.00'), 2),
 (Decimal('33.00'), 2),
 (Decimal('32.00'), 2)]

### MRP vs discountedSellingPrice comparison

In [35]:
%%sql

SELECT name, mrp, discountedSellingPrice, (mrp - discountedSellingPrice) AS discount_amount
FROM zepto_clean
ORDER BY discount_amount DESC
LIMIT 15;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
15 rows affected.

[('Borges Extra Light Olive Oil Bottle ', Decimal('2600.00'), Decimal('1399.00'), Decimal('1201.00')),
 ('Borges Extra Light Olive Oil Bottle ', Decimal('2600.00'), Decimal('1399.00'), Decimal('1201.00')),
 ('Pampers Pants - Large', Decimal('1549.00'), Decimal('849.00'), Decimal('700.00')),
 ('Pampers Pants - Large', Decimal('1549.00'), Decimal('849.00'), Decimal('700.00')),
 ('Kelloggs Chocos - Moons & Stars', Decimal('660.00'), Decimal('396.00'), Decimal('264.00')),
 ('Kelloggs Chocos - Moons & Stars', Decimal('660.00'), Decimal('396.00'), Decimal('264.00')),
 ('Kelloggs Chocos - Moons & Stars', Decimal('660.00'), Decimal('396.00'), Decimal('264.00')),
 ('Pampers Active Baby Diapers New Born Extra Small ', Decimal('1099.00'), Decimal('849.00'), Decimal('250.00')),
 ('Pampers Active Baby Diapers New Born Extra Small ', Decimal('1099.00'), Decimal('849.00'), Decimal('250.00')),
 ('Popular Essentials Californian Almond', Decimal('695.00'), Decimal('470.00'), Decimal('225.00')),
 ('Popular Essentials Californian Almond', Decimal('695.00'), Decimal('470.00'), Decimal('225.00')),
 ('Dhara Health Refined Sun Flower Oil Jar', Decimal('1200.00'), Decimal('984.00'), Decimal('216.00')),
 ('Dhara Health Refined Sun Flower Oil Jar', Decimal('1200.00'), Decimal('984.00'), Decimal('216.00')),
 ('Pampers Premium Care Pants - Large', Decimal('1099.00'), Decimal('899.00'), Decimal('200.00')),
 ('Pampers Premium Care Pants - Large', Decimal('1099.00'), Decimal('899.00'), Decimal('200.00'))]

### Weight Distribution

In [37]:
%%sql

SELECT weightInGms, COUNT(*) AS count_products
FROM zepto_clean
GROUP BY weightInGms
ORDER BY weightInGms DESC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/zepto_sql_project
10 rows affected.

[(10000, 4),
 (5000, 42),
 (4000, 3),
 (3000, 12),
 (2000, 12),
 (1900, 1),
 (1500, 8),
 (1200, 15),
 (1160, 26),
 (1100, 3)]